body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(209, 184, 241);
  }
  
  .arriba {
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    background-color: #5d4d81;
  }
  .contenedor_icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -2000px;
    margin-left: 1000px;
  }
  .navbar_items {
    margin-top: 16px;
  }
  
  .titulo_centrado {
    text-align: center;
  }
  .arriba a {
    float: left;
  }
  
  .arriba a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  footer {
      background-color: #5d4d81;
      padding: 20px;
      text-align: center;
      clear: both;
    }
    
    .footer-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    
    li {
      margin-right: 20px;
    }
    
    a {
      text-decoration: none;
      color: #fdfdfd;
    }
    
    a:hover {
      color: #ffffff;
    }
    
    footer p {
      font-size: 14px;
      color: #ffffff;
    }
    .form {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #f7f7f7;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      
      .form h2 {
        margin-top: 0;
        color: #000000;
      }
      
      .form label {
        color: #000000;
        display: block;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      
      .form input,
      .form select,
      .form textarea {
        width: 100%;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
      }
      
      .form input[type="submit"] {
        background-color: #5d4d81;
        color: #000000;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .form input[type="submit"]:hover {
        background-color: #5d4d81;
      }
      