body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(209, 184, 241);
}

.arriba {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #5d4d81;
}

.navbar_items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar_items li {
  margin: 0 15px;
}

.navbar_items a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_items a:hover {
  background-color: #333;
}

.contenedor_icons {
  display: flex;
  align-items: center;
}

.contenedor_icons a {
  margin-left: 15px;
}

.catalogo .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e0d4f7;
  border-radius: 10px;
}

.servicios-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicios-list li {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  position: relative; /* To contain the absolute positioning of the details */
}

.servicios-list img {
  max-width: 50px;
  margin-bottom: 20px;
}

.btn-ver-mas {
  background-color: #5d4d81;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-ver-mas:hover {
  background-color: #333;
}

/* Detalles */
.detalles {
  display: none;
  margin-top: 20px;
  text-align: left;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Precio */
.precio {
  color: #5d4d81;
  font-weight: bold;
  background-color: #f0e5ff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
h1{
  text-align: center;
  font-size: 40px;
}